<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <title>Dark Twitter</title>
	    <link href="css/bootstrap.min.css" rel="stylesheet">
	    <link rel="stylesheet" href="css/style.css" type="text/css" media="screen" />
	    <link rel="shortcut icon" type="image/png" href="twitter.png" />
    </head>

    <body>


    	<div class="container dashboard dashboard-left">

	    	<table id="bloc-perso" class="col-md-4">
				<tr>
					<th class="bloc-perso-pseudo" colspan="3"><h2>{{ login }}</h2></th>
				</tr>

				<tr id="cinq">
					<td class="col-md-4">Tweets<br>{{ nombreTweet }}</td>
					<td class="col-md-4"><a href="/following">Abonnements</a><br>{{nombreFollowers}}</td>
					<td class="col-md-4"><a href="/followers">Abonnés</a><br>{{nombreFollowing}}</td>
				</tr>

				<tr class="bloc-perso-tweeter">
					<td colspan="3"><form method="POST" action="/publishtweet">
						<textarea class="form-control" rows="3" name="prouttweet" id="champTweet" placeholder="Ecrire un nouveau Tweet..."></textarea>
						<input type="submit" class="btn btn-default" value="Publier" />
					</form></td>
				</tr>
			</table>


			<table id="bloc-tweet" class="col-md-7">
				<tr>
					<th class="bloc-perso-pseudo" colspan="3"><h2>Tweets</h2></th>
				</tr>

				<tr>
					<td><strong>{{ pseudo }}</strong>  |   <small>Il y a {{ timestamp }} secondes</small></td><br />
				</tr>

				<tr class="bloc-perso-tweeter">
					<td><div>{{ myTweet.message }}</div></td>
				</tr>
			</table>

    	</div>
    </body>
</html>